extends layout

block content

    form.form-horizontal.login-form(name='login-form')
        .form-group
            label.col-lg-2.control-label(for='input-username') Name
            .col-lg-8
                input.form-control#input-username(name='username', value='name',type='text', placeholder="name")
        .form-group
            label.col-lg-2.control-label(for='input-password') Password
            .col-lg-8
                    input.form-control#input-password(name='password', value='pass',type='password', placeholder="Password")
        .form-group
            .col-lg-offset-2.col-lg-10
                button.btn.btn-primary(type='submit', data-loading-text='Sending...') Login
                span.help-block.error

    script(src='/js/login.js')

